body {
  font-size: 16;
  font-family: sans-serif;
  background-color: crimson;
  color: white;
}
/* HEADER */
.navbar {
  background-color: rgba(54, 235, 160, 0.993);
}

.navbar-header {
}
.navbar-header h1 {
  color: black;
  margin: 10px 0 0 0;
  line-height: 0;
  text-transform: uppercase;
}

.navbar-default .navbar-toggle {
  border-color: black;
}

.navbar-toggle .icon-bar {
  border-color: black;
}
.navbar-default .navbar-nav > li > a {
  font-size: 1.5em;

  color: black;
}

.navbar-default .navbar-nav hr {
  border-color: black;
}
/* HEADER END*/

/* MAIN CONTENT */
#main-text {
  height: 1000px;
  background-color: gold;
  overflow: hidden;
}
/* MAIN CONTENT END*/
/*** Media Queries***/
@media (max-width: 767px) {
  #main-text {
    margin-left: auto;
    margin-right: auto;
  }
}
